@{
    ViewData["Title"] = "Admin Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <form action="stock/low">
            Product Count:
            <input type="number" name="count" value="5" min="1">
            <input type="submit" class="btn btn-danger" value="Low Stock">
        </form>
        <br />
        <a class="btn btn-primary" href="/stock/orderrequests" role="button">Order Requests</a>
    </div>